.header {
    color: #fff;
    background-color: #000;
    margin-bottom: 30px;
    &__heading {
        text-align: center;
        @media only screen and (max-width: 769px) {
            font-size: 1.5em;
            text-align: left;
        }
    }
    &__stats {
        margin-left: auto;
        @media only screen and (max-width: 769px) {
            font-size: 0.9em;
        }
    }

}